<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <%= form_for(article, :url => polymorphic_path([:answered_counter_inc, article]), :remote => true, :html => {:class => "answered_counter_inc_form"}) do |form| %>
      <% end %>
      <%= content_tag(:div, :class => "panel-body") do %>
        <%= form_for(article, :remote => true, :html => {:class => "important_flag_form"}) do |form| %>
          <%= form.check_box(:important_flag) %>
          <%= " " %>
          <%= content_tag(:span, article.question_body2, :class => "question_body2") %>
        <% end %>
        <%= content_tag(:div, article.answer_body2, :style => "display:none", :class => "question_answer") %>
      <% end %>
    </div>
  </div>
</div>
